.editIcon {
    color: rgb(9, 195, 9);
    margin-right: 1rem;
    transition: all 0.5s ease-in-out;
}

.editIcon:hover {
    color: rgb(4, 57, 4);
}

.deleteIcon {
    color: red;
    transition: all 0.5s ease-in-out;

}

.deleteIcon:hover {
    color: rgb(122, 2, 2);
}